<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Devenir Chiant</title>
</head>

<body>
    <div class="header">
        <div class="nom">
            <div class="logo-div">
                <img class="logo" src="../static/images/logo.png">
            </div>
            
                <div class="profil">
                    <div class="pseudo">
                        <p id="pseudoStr">Se Connecter</p>
                    </div>
                </div>
            
                 <div class="profil">
                    <div>
                        <img class="photo-profil" src="../static/images/profil.jpg">
                    </div>
                    <div class="pseudo">
                        <p></p>
                    </div>
                    <div class="arrow">
                        <a href="#popup1"><img src="../static/images/arrow.svg">
                    </div>
                </div> 
            
        </div>

        <div class="categories">
            <p>Sport</p>
            <p>Lettre</p>
            <p>Art</p>
            <p>Quotidien</p>
            <p>High Tech</p>
            <p>Santé</p>
            <p>Histoire</p>
            <p>Société</p>
        </div>

        <div class="post-all">
            <div class="post">
                <button type="button">POST</button>
            </div>
            <div class="all">
                <p>ALL</p>
            </div>
        </div>
        
        <nav>
            <ul class="drop-down closed">
                <li><a href="#" class="nav-button">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </div>

    <div class="categories-photos">
        <div>
            <img id="sport" class="sport" src="../static/images/sport.jpg">
            <img id="lettre" class="lettre" src="../static/images/lettre.jpg">
            <img id="art" class="art" src="../static/images/art.jpg">
        </div>
        <div>
            <img id="vie-quotidienne" class="vie-quotidienne" src="../static/images/vie quot.jpeg">
            <img id="all" class="all" src="../static/images/all.jpg">
            <img id="high-tech" class="high-tech" src="../static/images/high tech.jpg">
        </div>
        <div>
            <img id="sante" class="sante" src="../static/images/Sante.jpg">
            <img id="histoire" class="histoire" src="../static/images/history.jpg">
            <img id="societe" class="societe" src="../static/images/societe.jpg">
        </div>
    </div>
     <div id="popup1" class="popupgen">
        <div class="login-popup">
            <a class="close" href="#">&times;</a>
            <p class="bienvenue">BIENVENUE</p>
            <input class="pseudo" type="text" placeholder=" Ton Blaze">
            <input class="password" type="password" placeholder="Code d'accès">
            <div class="div-btn">
                <div>
                    <button class="divlog">Se connecter</button>
                </div>
                <div>
                    <a href="#signpopup"><button class="divsign">S'inscrire</button></a>
                </div>
            </div>
            <div class="div-fb-google">
                <img class="fb" src="../static/images/facebook.png">
                <img class="google" src="../static/images/google.png">
            </div>
        </div>
    </div>
    <div id="signpopup" class="signgen">
        <div class="ins-popup">
            <a class="close" href="#">&times;</a>
            <p class="inscription">TU AS FAIT LE BON CHOIX</p>
            <input class="ins-pseudo" type="text" placeholder=" Ton Blaze">
            <input class="ins-email" type="email" placeholder="Mail">
            <input class="ins-password" type="password" placeholder="Code d'accès">
             <form class="inscase">
             <input type="checkbox" name="age" value="1">Coche si tu as plus de 13 ans
        </form>
            <div>
                 <button class="inssign">Valider</button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="../static/js/views_scripts/home.js" type="module"></script>
</html>