<form name="register" method="POST" action="/users/login_check">
    <input name="email" name="email" type="text" placeholder="email">
    <input name="password" type="password" placeholder="password">
    <input type="submit" name="validate">SE CONNECTER</input>
</form>