<form name="register" method="POST" action="/users/add">
    <input name="email" name="email" type="text" placeholder="email">
    <input name="pseudo" type="text" placeholder="pseudo">
    <input name="password" type="password" placeholder="password">
    <input name="description" type="text" placeholder="description">
    <input type="submit" name="validate">VALIDER</input>
</form>