
<p id="cat"></p>
<p id="test"></p>
<script>
    let store = window.localStorage;
    localStorage.setItem('myCat', 'Tom');
    let test =  "<%= test %>"
    localStorage.setItem('myTest', test);
    let cat = localStorage.getItem('myCat')
    document.getElementById('cat').innerHTML = cat
    document.getElementById('test').innerHTML = test
</script>