.accueil{
    background-color: black;
}

body{
    background-color: #C3C3C3;
}

.header{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header .logo{
    width: 100px; 
}

.header .nom{
    display: flex;
    flex-direction: row;
}

.header .categories{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.header .categories p{
    padding-right: 30px;
}


.header .post-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header .post-all .post button{
    margin-top: 25px;
}

.header .profil{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    align-items: center;
}

.photo-profil{
    width: 50px;
    border-radius: 100%;
    margin-right: 10px;
    padding: 10px;
}

.header .profil .pseudo{
    padding: 10px;
    margin-right: 10px;
}

.header .profil .arrow img{
    width: 35px;
}

.post-all .post button{
    content: '';
    border: none;
    color: white;
    background-color: black;
    box-shadow: 0px 0px 30px 3px white;
    border-radius: 20px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.categories-photos {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
    justify-content: space-around;
    height: 40vw;
}

.categories-photos img{
    border-radius: 50px;
    width: 250px;
}

.categories-photos .first, .categories-photos .second, .categories-photos .third{
    display: flex;
    flex-direction: row;
    width: 100%;    
    justify-content: space-between;
    align-items: center;
}

.categories-photos .second .all{
    width: 350px;
}

.news-global-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
}

.news-global-container .category-title {
    display: flex;
    flex-direction: row;
}

.news-global-container .category-title svg {
    fill: black;
    width: 50px;
    height: 50px;
}

/* Drop Down Styles
================================ */
nav .drop-down {
    list-style: none; 
    overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
    height: 86px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
    background-color: #34495e;
    font-family: Arial;
    width: 200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    -webkit-transition: height 0.3s ease;
            transition: height 0.3s ease;
  }
  
  nav .drop-down.closed {
    /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
        with overflow: hidden set on the ul will hide all list items apart from the first */
    /* current li height 38px + 5px border */
    height: 43px;
  }
  
  nav .drop-down li {
    border-bottom: 5px solid #2c3e50;
  }
  
  nav .drop-down li a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px; /* Larger touch target area */
  }
  
  nav .drop-down li:first-child a:after {
    content: "\25BC";
    float: right;
    margin-left: -30px; /* Excessive -margin to bring link text back to center */
    margin-right: 5px;
  }
  
/* Popup connexion - Jules */

.homepage .login-popup{
    position: absolute;
}
.homepage{
    z-index: 2;
}

.login-popup{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25vw;
    text-align: center;
    margin: 0 auto;
    height: 45vh;
    justify-content: space-around;
    border-radius: 35px;
    z-index: 1;
    transition: all 5s ease-in-out;
}
.pseudo{
    border: 1px groove gray;
    border-radius: 15px;
    width: 80%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-bottom: 10px;
    font-family: 'Roboto Black';
}
.password{
    border: 1px groove #c3c3c3;
    border-radius: 15px;
    width: 80%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-bottom: 15px;
    font-family: 'Roboto Black';
}
.div-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}
.divlog{
    border:none;
    color: white;
    background-color: black;
    border-radius: 12px;
    font-family: 'Roboto Medium';
    padding: 10px;
    margin: 3px;
}
.divsign{
    border:none;
    color: white;
    background-color: black;
    border-radius: 12px;
    font-family: 'Roboto Medium';
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 3px;
}
.div-fb-google{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fb{
    width: 40px;
    height: 40px;
    margin: 2px;
}
.google{
    width: 40px;
    height: 40px;
    margin:2px;
}
.bienvenue{
    font-family: 'Roboto BlackItalic';
    font-size: 40px;
    
}
  .popupgen:target {
    visibility: visible;
    opacity: 1;
  }


  .login-popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .login-popup .close:hover{
    color: #06D85F;
  }

.ins-popup{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25vw;
    text-align: center;
    margin: 0 auto;
    height: 55vh;
    justify-content: space-around;
    border-radius: 35px;
    z-index: 1;
    transition: all 5s ease-in-out;
}
.inscription{
    font-family: 'Roboto BlackItalic';
    font-size: 35px;
}

.ins-pseudo{
    border: 1px groove gray;
    border-radius: 15px;
    width: 80%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-bottom: 1px;
    font-family: 'Roboto Black';
}
.ins-email {
    border: 1px groove #c3c3c3;
    border-radius: 15px;
    width: 80%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-bottom: 1px;
    font-family: 'Roboto Black';
}

.ins-password{
    border: 1px groove gray;
    border-radius: 15px;
    width: 80%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-bottom: 1px;
    font-family: 'Roboto Black';
}
.inssign{
    border:none;
    color: white;
    background-color: black;
    border-radius: 12px;
    font-family: 'Roboto Medium';
    padding: 10px;
    margin: 3px;
}
.inscase{
    font-family: 'Roboto Medium';

}
.popupgen{
    visibility: hidden;
}
.signgen{
    visibility: hidden;
}
.signgen:target {
    visibility: visible;
    opacity: 1;
}


.ins-popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.ins-popup .close:hover{
    color: #06D85F;
}
